.backgroundImage {
  background-image: url("/assets/img/fondo_login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-social {
  font-size: 1.2em;
}
